@import 'antd/dist/antd.css';
@import "~bootstrap/scss/bootstrap";

@import './variables';
@import './responsive';


.App {
    width: 100%;
    min-height: 100vh;
    display: flex;

    .content {
        flex: 1;
        background-color: #f9f9f9;
    }
}