
.container {
    width: 70%;
    height: 80%;
    background: #f3f3f3;
    padding: 2rem 5rem;

    .select-container {
        width: 100%;
        height: 30px;
        display: flex;
        gap: 20px;
        align-items: center;
        margin-top: 20px;

        .select {
            width: 30%;
        }
    }

    .table-container {
        width: 100%;
        height: 300px;
        margin-top: 30px;
        overflow-y: scroll;

        // custom scrollbar
        &::-webkit-scrollbar {
            width: 10px;
          }
          /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
          }
          /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #888; 
          }
          /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555; 
          }
        
        .table {
            margin-top: 15px;
        }
    }

    .buttons {
        border: 0.1em solid lightblue;

        &:hover {
            background-color: rgb(111, 204, 234);
            color: #fff;
            border: 0.1em solid transparent;
        }
    }
}

.font-bold {
    font-weight: 600;
}